altgraph==0.17
auto-py-to-exe==2.7.8
autocorrect==2.2.2
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
Eel==0.12.4
future==0.18.2
gevent==20.9.0
gevent-websocket==0.10.1
greenlet==0.4.17
idna==2.10
pefile==2019.4.18
Pillow==8.1.1
pycparser==2.20
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pyperclip==1.8.1
pywin32-ctypes==0.2.0
requests==2.25.0
six==1.15.0
urllib3==1.26.2
websocket==0.2.1
websocket-client==0.57.0
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.2.0
